@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bc: 255 100% 100%;
    --nc: 255 100% 100%;
}

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}